defaults/flow.json
[{"id":"f1e41b95.ebb11","type":"http response","z":"c1bad709.070078","name":"","x":608,"y":99,"wires":[]},{"id":"ec98f6a4.add838","type":"template","z":"c1bad709.070078","name":"Hello World HTML","field":"payload","fieldType":"msg","format":"html","template":"<html>\n    <head>\n    </head>\n    <body>\n        <div id=\"id_hello\"><span>Hello</span>&nbsp;<span id=\"id_nameout\"></span></div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    What is your name:   \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\" id=\"id_name\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Submit\" id=\"id_submit\"/>\n            </div>\n        </form>         \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            $(document).ready(function(){\n                setupPage();\n            });\n            \n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n            }\n            \n            function onSubmitClicked(event){\n                $('#id_nameout').text($('#id_name').val());\n                $('#id_hello').show();\n                $('#id_form').hide();\n                event.preventDefault();\n            }\n        </script>        \n    </body>\n</html>","x":346,"y":110,"wires":[["f1e41b95.ebb11"]]},{"id":"b2468a1.a92f1f8","type":"http in","z":"c1bad709.070078","name":"","url":"/hw","method":"get","swaggerDoc":"","x":103,"y":87,"wires":[["ec98f6a4.add838"]]}]